.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message__user{
    margin-left: auto;
    color: #fff;
    text-align: left !important;
}
.message__userCard{
    background-color: #0b81ff !important;
    color: #fff !important;
    border-radius: 25px !important;
    border-top-right-radius: 0px !important;
    box-shadow: 0 10px 20px hsl(206, 6%, 79%) !important;
}
.message__guestCard{
    background-color: #e9e9eb !important;
    box-shadow: 0 10px 20px hsl(206, 6%, 79%) !important;
    
    border-radius: 25px !important;
    border-top-left-radius: 0px !important;
}